@page
@model WebApplication3.Pages.selectionModel
<style>
    img{
        float:left;
        width:400px;
        height:400px;
        object-fit:cover;
    }
</style>
<div class="container">
<div class="row">
    <div class="col-sm-12 col-md-6">
        <div>
                <a href="/netflix/index">
                    <img src="https://i.pinimg.com/280x280_RS/8c/bb/05/8cbb0508c1243e0cb2f17f660e32a748.jpg" alt="Netflix"  >
                    
                </a>
        </div>
    </div>   
        
    <div class="col-sm-12 col-md-6">
        <a href="/w3images/nature.jpg">
            <img src="https://www.southwalesargus.co.uk/resources/images/11468703.jpg?display=1&htype=0&type=responsive-gallery" alt="Amazon Prime">

        </a>
    </div>   
</div>
</div>